@font-face {
  font-family: 'FunnelSans';
  src: url('../../Resources/Fonts/FunnelSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'FunnelSans';
    font-weight: 600;
    user-select: none;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

#FirstVideoPlayer
{
    width: 100%;
    height: 100%;
    background-color: #121212;
    position: relative;;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#FirstHeader
{
    max-height: 30px;
    height: 10%;
    width: 100%;
    /* background-color: #060606; */

    position: absolute;
    top: 0;

    z-index: 1;

    transition: opacity 0.2s ease-out;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#DragHeader
{
    app-region: drag;
    flex-grow: 1;
    height: 100%;
}

#TilebarButtons
{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.TitlebarButton
{
    aspect-ratio: 1/1;
    height: 100%;
    margin-left: 3px;

    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.TitlebarButton:hover
{
    background-color: #1a1a1a;

}

.TitlebarButton:active
{
    background-color: #060606;
}

.TitlebarButton img
{
    filter: invert(80%);
    width: 70%;
    height: 70%;
}


#FirstVideo
{
    object-fit: cover;
    height: 100%;
}

#FirstVideoLoadButton
{
    width: 200px;
    height: 40px;
    position: absolute;
    background-color: #005cc8;

    top: calc(50% - 20px);
    left: calc(50% - 100px);

    border-radius: 8px;

    text-align: center;
    vertical-align: middle;
    align-content: center;
    
    z-index: 1;
    cursor: pointer;

    color: #e3e7eb;
    font-size: 1.1em;
    letter-spacing: 1px;
}

#FirstVideoLoadButton:hover
{
    background-color: #016ae2;
}

#FirstVideoLoadButton:active
{
    background-color: #0052b1;
}

#FirstPlayButton
{
    height: 5%;
    aspect-ratio: 1/1;
    background-color: #005cc8;

    position: absolute;
    top: 47.5%;
    left: 49%;

    cursor: pointer;

    border-radius: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#FirstPlayButton > img
{
    width: 60%;
    height: 60%;
    filter: invert(100%);
}

#FirstControls
{
    max-height: 50px;
    height: 10%;
    width: 90%;
    position: absolute;
    bottom: 0;

    transition: opacity 0.2s ease-out;
}

.PlayerControls
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PlayButton
{
    aspect-ratio: 1/1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.PlayButton > img
{
    width: 50%;
    height: 50%;
    filter: invert(100%);
}

.StopButton
{
    aspect-ratio: 1/1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.StopButton > img
{
    width: 50%;
    height: 50%;
    filter: invert(100%);
}

.Progress
{
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ProgressFill
{
    flex-grow: 1;
}

.ProgressFill::-webkit-slider-thumb
{
    cursor: pointer;
}

.VolumeControl
{
    height: 100%;
    width: 20%;
    max-width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.VolumeButton
{
    aspect-ratio: 1/1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.VolumeButton > img
{
    width: 50%;
    height: 50%;
    filter: invert(100%);
}

.VolumeFillContainer
{
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.VolumeFill{
    width: 100%;
    height: 100%;
}

.FullscreenButton
{
    aspect-ratio: 1/1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FullscreenButton > img
{
    width: 50%;
    height: 50%;
    filter: invert(100%);
}

#SecondVideoPlayer
{
    width: 60vh;
    height: 40vh;
    background-color: #1e1e1e;
    position: absolute;
    left: calc(50% - 30vh);
    bottom: 2vh;
    z-index: 10;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

#SecondHeader
{
    height: 10%;
    max-height: 30px;
    width: 100%;
    cursor: grab;

    position: absolute;
    top: 0;

    z-index: 1;

    transition: opacity 0.2s ease-out;

    display: flex;
    flex-direction: row;
}

#SecondVideoDragBar
{
    flex-grow: 1;
}

#SecondVideoCloseButton
{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#SecondVideoCloseButton:hover
{
    background-color: #2c2c2c;
}

#SecondVideoCloseButton:active
{
    background-color: #141414;
}

#SecondVideoCloseButton img
{
    width: 50%;
    height: 50%;
    filter: invert(70%);
}

#SecondVideo
{
    object-fit: cover;
    height: 100%;
}

#SecondVideoLoadButton
{
    width: 100px;
    height: 20px;
    background-color: #005cc8;
    position: absolute;

    top: calc(50% - 10px);
    left: calc(50% - 50px);

    border-radius: 6px;

    text-align: center;
    vertical-align: middle;
    align-content: center;
    
    z-index: 1;
    font-size: 0.6em;
    letter-spacing: 1px;
    cursor: pointer;
    color: #e3e7eb;
}

#SecondVideoLoadButton:hover
{
    background-color: #016ae2;
}

#SecondVideoLoadButton:active
{
    background-color: #0052b1;
}


#SecondPlayButton
{
    height: 5%;
    aspect-ratio: 1/1;
    background-color: #005cc8;

    position: absolute;
    top: 47.5%;
    left: 47.5%;
    
    cursor: pointer;

    border-radius: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#SecondPlayButton > img
{
    width: 60%;
    height: 60%;
    filter: invert(100%);
}

#SecondControls
{
    height: 10%;
    width: 90%;
    position: absolute;
    bottom: 0;

    transition: opacity 0.2s ease-out;
}

#SecondResizeHandle
{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    cursor: nwse-resize;

    transition: opacity 0.2s ease-out;
}

#SecondResizeHandle::after {
    content: "";
    width: 60%;
    height: 60%;
    border-right: 1px solid rgba(255,255,255,0.85);
    border-bottom: 1px solid rgba(255,255,255,0.85);
    transform: rotate(0deg);
  }


.Hide,
#FirstPlayButton.Hide,
#FirstVideoLoadButton.Hide,
#SecondVideoPlayer.Hide,
#SecondPlayButton.Hide,
#SecondVideoLoadButton.Hide,
#UpdatePanel.Hide
{
    display: none;
}

#FirstHeader.SoftHide,
#FirstPlayButton.SoftHide,
#FirstControls.SoftHide,
#SecondHeader.SoftHide,
#SecondPlayButton.SoftHide,
#SecondControls.SoftHide,
#SecondResizeHandle.SoftHide
{
    opacity: 0;
}

#FirstPlayButton.SoftHide:hover,
#SecondPlayButton.SoftHide:hover
{
    opacity: 1;
}

#UpdatePanel
{
    width: 100%;
    height: 100%;
    background-color: #121212;

    display:  flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#UpdateContainer
{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1a1a1a;
    min-width: 500px;
    width: fit-content;

    border-radius: 5px;
    overflow: hidden;
}

#UpdateHeader,
#UpdateBody,
#UpdateFooter
{
    width: 100%;
}

#UpdateHeader
{
    background-color: #005cc8;
}

#UpdateHeader h1
{
    font-size: 1.6em;
    letter-spacing: 1.2px;
    margin: 0px;
    padding: 10px;
    color: aliceblue;
}

#UpdateBody
{
    min-height: 100px;
    color: rgb(207, 215, 221);
}

#UpdateBody p
{
    font-size: 1em;
    letter-spacing: 0.9px;
    margin: 0px;
    padding: 15px 10px;
}

#UpdateFooter
{
    display:  flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#CancelUpdateButton,
#UpdateButton
{
    color: aliceblue;

    font-size: 0.8em;
    letter-spacing: 1.2px;
    padding: 7px 25px;
    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 4px;
}

#CancelUpdateButton
{
    background-color: #d11a38;
}

#CancelUpdateButton:hover
{
    background-color: #ff1b54;
}

#CancelUpdateButton:active
{
    background-color: #ad1037;
}


#UpdateButton
{
    background-color: #005cc8;
}

#UpdateButton:hover
{
    background-color: #016ae2;
}

#UpdateButton:active
{
    background-color: #0052b1;
}