@font-face {
  font-family: 'FunnelSans';
  src: url('../../Resources/Fonts/FunnelSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'FunnelSans';
    font-weight: 600;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

#FirstVideoPlayer
{
    width: 100%;
    height: 100%;
    background-color: #121212;
    position: relative;;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#FirstHeader
{
    max-height: 20px;
    height: 10%;
    width: 100%;
    background-color: aliceblue;

    position: absolute;
    top: 0;

    z-index: 1;

    transition: opacity 0.2s ease-out;
}

#FirstVideo
{
    object-fit: cover;
    height: 100%;
}

#FirstVideoLoadButton
{
    width: 200px;
    height: 40px;
    position: absolute;
    background-color: #005cc8;

    top: calc(50% - 20px);
    left: calc(50% - 100px);

    border-radius: 8px;

    text-align: center;
    vertical-align: middle;
    align-content: center;
    
    z-index: 1;
    cursor: pointer;

    color: #e3e7eb;
    font-size: 1.1em;
}

#FirstVideoLoadButton:hover
{
    background-color: #016ae2;
}

#FirstVideoLoadButton:active
{
    background-color: #0052b1;
}

#FirstPlayButton
{
    height: 5%;
    aspect-ratio: 1/1;
    background-color: #005cc8;

    position: absolute;
    top: 47.5%;
    left: 49%;

    cursor: pointer;

    border-radius: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#FirstPlayButton > img
{
    width: 60%;
    height: 60%;
    filter: invert(100%);
}

#FirstControls
{
    max-height: 50px;
    height: 10%;
    width: 90%;
    position: absolute;
    bottom: 0;

    transition: opacity 0.2s ease-out;
}

.PlayerControls
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PlayButton
{
    aspect-ratio: 1/1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.PlayButton > img
{
    width: 50%;
    height: 50%;
    filter: invert(100%);
}

.StopButton
{
    aspect-ratio: 1/1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.StopButton > img
{
    width: 50%;
    height: 50%;
    filter: invert(100%);
}

.Progress
{
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ProgressFill
{
    flex-grow: 1;
}

.ProgressFill::-webkit-slider-thumb
{
    cursor: pointer;
}

.VolumeControl
{
    height: 100%;
    width: 20%;
    max-width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.VolumeButton
{
    aspect-ratio: 1/1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.VolumeButton > img
{
    width: 50%;
    height: 50%;
    filter: invert(100%);
}

.VolumeFillContainer
{
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.VolumeFill{
    width: 100%;
    height: 100%;
}

.FullscreenButton
{
    aspect-ratio: 1/1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FullscreenButton > img
{
    width: 50%;
    height: 50%;
    filter: invert(100%);
}

#SecondVideoPlayer
{
    width: 60vh;
    height: 40vh;
    background-color: #1e1e1e;
    position: absolute;
    left: calc(50% - 30vh);
    bottom: 2vh;
    z-index: 10;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

#SecondHeader
{
    height: 10%;
    max-height: 30px;
    width: 100%;
    opacity: 0;
    cursor: grab;

    position: absolute;
    top: 0;

    z-index: 1;

    transition: opacity 0.2s ease-out;
}

#SecondVideo
{
    object-fit: cover;
    height: 100%;
}

#SecondVideoLoadButton
{
    width: 100px;
    height: 20px;
    background-color: #005cc8;
    position: absolute;

    top: calc(50% - 10px);
    left: calc(50% - 50px);

    border-radius: 6px;

    text-align: center;
    vertical-align: middle;
    align-content: center;
    
    z-index: 1;
    font-size: 0.7em;
    cursor: pointer;
    color: #e3e7eb;
}

#SecondVideoLoadButton:hover
{
    background-color: #016ae2;
}

#SecondVideoLoadButton:active
{
    background-color: #0052b1;
}


#SecondPlayButton
{
    height: 5%;
    aspect-ratio: 1/1;
    background-color: #005cc8;

    position: absolute;
    top: 47.5%;
    left: 47.5%;
    
    cursor: pointer;

    border-radius: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#SecondPlayButton > img
{
    width: 60%;
    height: 60%;
    filter: invert(100%);
}

#SecondControls
{
    height: 10%;
    width: 90%;
    position: absolute;
    bottom: 0;

    transition: opacity 0.2s ease-out;
}

#SecondResizeHandle
{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    cursor: nwse-resize;

    transition: opacity 0.2s ease-out;
}

#SecondResizeHandle::after {
    content: "";
    width: 60%;
    height: 60%;
    border-right: 1px solid rgba(255,255,255,0.85);
    border-bottom: 1px solid rgba(255,255,255,0.85);
    transform: rotate(0deg);
  }


.Hide,
#FirstPlayButton.Hide,
#FirstVideoLoadButton.Hide,
#SecondPlayButton.Hide,
#SecondVideoLoadButton.Hide
{
    display: none;
}

#FirstHeader.SoftHide,
#FirstPlayButton.SoftHide,
#FirstControls.SoftHide,
#SecondPlayButton.SoftHide,
#SecondControls.SoftHide,
#SecondResizeHandle.SoftHide
{
    opacity: 0;
}

#FirstPlayButton.SoftHide:hover,
#SecondPlayButton.SoftHide:hover
{
    opacity: 1;
}